//Black and white colors
$color-white: #ffffff;
$color-black: #333333;
$color-grey:  #EFEFEF;
$color-eee:   #EEEEEE;

//Principal colors
$color-brown:       #565252;
$color-brown-dark:  #343030;
$color-brown-light: #797979;

//Elements pokemon
$normal:   #A8A878;
$fire:     #F08030;
$water:    #6890F0;
$grass:    #78C050;
$electric: #F8D030;
$ice:      #98D8D8;
$fighting: #C03028;
$poison:   #A040A0;
$ground:   #E0C068;
$flying:   #A890F0;
$psychic:  #F85888;
$bug:      #A8B820;
$rock:     #B8A038;
$ghost:    #785898;
$dark:     #705848;
$dragon:   #7038F8;
$steel:    #B8B8D0;