.label {
  background-color: $color-grey;
  text-transform: uppercase;
  font-size: .7rem;
  color: $color-black;
  padding: .5rem 2rem;
  font-weight: $font-bold;
  border-radius: 3px;

  &-normal { 
    @include putColorElement($normal) 
  }

  &-fire { 
    @include putColorElement($fire) 
  }

  &-water { 
    @include putColorElement($water) 
  }

  &-grass { 
    @include putColorElement($grass) 
  }

  &-electric { 
    @include putColorElement($electric) 
  }

  &-ice { 
    @include putColorElement($ice) 
  }

  &-fighting { 
    @include putColorElement($fighting) 
  }

  &-posion { 
    @include putColorElement($poison) 
  }

  &-earth { 
    @include putColorElement($ground) 
  }

  &-flying { 
    @include putColorElement($flying) 
  }

  &-psychic { 
    @include putColorElement($psychic) 
  }

  &-bug { 
    @include putColorElement($bug) 
  }

  &-rock { 
    @include putColorElement($rock) 
  }

  &-ghost { 
    @include putColorElement($ghost) 
  }

  &-dark { 
    @include putColorElement($dark) 
  }

  &-dragon { 
    @include putColorElement($dragon) 
  }

  &-steel { 
    @include putColorElement($steel) 
  }
}