@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: center;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.heading {
  text-transform: uppercase;
}

.heading-primary {
  font-weight: 600;
}

.heading-secondary {
  font-weight: 400;
}

.pokemon-list {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #565252;
  color: #ffffff;
  transition: 0.5s all ease-out;
}

.pokemon-list__header {
  background-color: #343030;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-list__header-img {
  width: 2.3em;
  margin-right: .5rem;
}

.pokemon-list__header-title {
  font-size: 1.2rem;
  letter-spacing: .15rem;
}

.pokemon-list__content {
  height: 100%;
}

.pokemon-list__content__items {
  height: 92.2%;
  overflow-x: scroll;
}

.pokemon-list__content__items-item {
  padding: 1rem 2rem;
  font-size: .8rem;
  cursor: pointer;
}

.pokemon-list__content__items-item:hover {
  background-color: #343030;
}

.pokemon-detail {
  margin-left: 300px;
}

.pokemon-detail-empty {
  margin-left: 300px;
  height: 100vh;
  color: #797979;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
